<%= form_for(@question) do |f| %>
  <%= f.text_field :title %>
  <p>Probrem<p>
  <%= f.text_area :probrem %>

  <%= f.fields_for :answer_patterns do |answer| %>
    <p>examples</p>
    <%= answer.text_area :input %>
    <%= answer.text_area :expect_answer %>
  <% end %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
